

/* googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* list-style: none;
     */
}
body{
    font-family: 'Livvic', sans-serif;
    position: relative;
    
}

/* navbar */
.active{
    color: #007bff !important;
}
.nav-link:hover{
    color: #007bff !important;
}

.navbar-toggler, .navbar-toggler:focus{
    box-shadow: none !important;
    border: none !important;
   
}
.Sticky{
    position: sticky;
    top: 0;
    z-index: 4;
}

.menubar-style{
    gap: 20px;
}

@media screen and (max-width:992px) {
    
    .Navbar-style{
        /* position: absolute !important; */
        top: 55px !important;
        left: 0 ;
        background-color: white;
        width: 100% ;
        margin: 0px ;
        padding: 20px ;

        
    }
    li{
       border-bottom: 1px solid rgb(212, 210, 210); 
    }

   .Sticky{
    position: static !important;
   }

}
/* forum */
.forum-background{
    background-color: #d8ebf3;
}
.all-thread{
    background-color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
  
    
}




::placeholder { 
    color: black !important;
    font-weight: 500;
    opacity: 1;
  }

.sticky-new{
    position: sticky !important;
    top: 20px !important;
}



.text-btn{
    display: inline-block;
    margin-left: 25px;
    /* border: 1px solid red; */

}

.new-button{
    background-image: linear-gradient(
        #219de5,
        #1554db,
        #082ac0,
        #180585
      ) !important;
}

.new-button:hover{
    background-image: linear-gradient(
    #180585,
    #082ac0,    
    #1554db,
    #219de5
  ) !important;

}

.form-select{
    font-weight: 500 !important;
}
/* latest */


.forum-background{
    /* background-image: url("https://img.freepik.com/free-vector/blue-fluid-background_53876-114597.jpg?w=1380&t=st=1671424521~exp=1671425121~hmac=7a66e9ab514118457d4d1fef58a5f92315017da9ac66cf4b546434e6ee81390f"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.forum-img{
    border-radius: 50%
    
}
.forum-card1{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
}

.forum-card1:hover{
  background-color: #20c997;
  cursor: pointer !important;
  

  
}
.forum-card2{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
}

.forum-card2:hover{
  background-color: rgba(13, 220, 247, 0.973);
  cursor: pointer !important;
  
 
  
}

.forum-card1:hover .title-hover{
    color: white !important;
    font-weight: bold;
}
.forum-card2:hover .title-hover{
    color: white !important;
    font-weight: bold;
}

.card-hover{
    font-weight: 500;
}

.solve-btn{
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 12px;
   
}
.fa-solid{
    font-size: 8px;
}

.select-btn{
    /* border: 3px solid white; */
    padding: 13px ;
    width: 150px;
    
}

.forum-solve:hover{
    /* color: rgb(132, 236, 132); */
}

.form-input{
    background-color: white;
    padding: 7px !important;
}

/* menubar */
.menubar-cls{
    width: 23px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
    
}





.input-cls{
    background-color: white;
    width: 75%;
    padding: 5px 10px 5px 30px;
    outline: none;
    border: none;
    color: black;
  
  }
  .form-input{
    position: relative;
  }
  
  
  .icon{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  /* footer */
  .footer-bg{
   
    background-image: url("https://i.ibb.co/XJvWrrw/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .footer-logo img{
    height: 40px;
  }

  .fa-brands{
    border: 1px solid red;
    padding: 4px;
    /* background-color: #007bff; */
    border-radius: 50%;
  }

  .fa-brands:hover{
    border: 1px solid red;
    background-color: #007bff;
    border-radius: 50%;
  }

 
