

/* googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap');


body{
    font-family: 'Livvic', sans-serif;
    /* background-color: #0633a4; */
}

.forum-background{
    background-color: #0633a4;
}
.all-thread{
    background-color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 0px 10px 10px 0px;
    margin-top: 5px;
    position: relative;
  
    
}




::placeholder { 
    color: white;
    font-weight: 500;
    opacity: 1;
  }

.sticky-new{
    position: sticky !important;
    top: 20px !important;
}



.text-btn{
    display: inline-block;
    margin-left: 25px;
    /* border: 1px solid red; */

}
/* latest */

.forum-img{
    /* width: 77px;
    height: 77px; */
    
}
.forum-div{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 0px 25px 0px 25px;
}
.solve-btn{
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 12px;
   
}
.fa-solid{
    font-size: 8px;
}

.select-btn{
    padding: 10px ;
    width: 150px;
    
}

/* menubar */
.menubar-cls{
    width: 23px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
    
}

.menubar{
    width: 14px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
   
}
.menuicons{
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #c9c6c6;
    padding: 7px;
    border-radius: 10px;
}

/* firstmenubar */
.menubar-item{
    width: 18px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
}


.input-cls{
    background: transparent;
    /* border-bottom: 3px solid  #979797; */
    width: 75%;
    padding: 5px 10px 5px 30px;
    outline: none;
    border: none;
    color: black;
  
  }
  .form-input{
    position: relative;
  }
  
  
  .icon{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  /* footer */
  .footer-logo img{
    height: 40px;
  }

